.Szamologep {
    text-align: center;
  }
  
  .Szamologep-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }

input {
  padding: 3px;
  margin: 2px;
}
  